<h1> Add Collaborator </h1>
   <%= form_for [ @wiki, @collaborator] do |form| %>
     <p>
     Add collaborator <%= @user.email %> to wiki <%= @wiki.title %> ?
     <%= form.hidden_field :user_id, value: @user.id %>
   </p>
     <div>
      <%= form.submit %>
     </div>
 <% end %>
     
